<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="mystyles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="logic.js"></script>
</head>

<body>
<div class="container-fluid">
  <div class="row" ng-app="myShoppingList" ng-controller="myCtrl">
    <img class="icon" src="flower.jpg" height="75px"/><h1>Step 1: Create or update your own shopping lists</h1>
    <nav>
      <ul>
        <li><a href="" ng-click="show('a')">all</a></li>
        <li><a href="" ng-click="show('d')">daily</a></li>
        <li><a href="" ng-click="show('w')">weekly</a></li>
        <li><a href="" ng-click="show('m')">mothly</a></li>
        <li><a href="" ng-click="show('i')">on occasion</a></li>
      </ul>
    </nav>
    
    <div class="col-sm-3 daily" id="dailyList">
      <h3>daily:</h3>
        <table>
          <tr ng-repeat="x in productsDaily">
            <td>
              <div class="item">{{x}} </div>
            </td>
            <td>
              <button ng-click="removeItem($index, 'd')" class="btn btn-xs btn-primary"> Х </button>
              <button ng-click="moveItem($index, 'd','s')" class="btn btn-xs btn-primary"> > </button>
            </td>
          </tr>
        </table>
        <input ng-model="addMe">
        <button ng-click="addItem('d')" class="btn  btn-primary">Add</button>
    </div>
    <div class="col-sm-3 weekly" id="weeklyList">
      <h3>weekly:</h3>
        <table>
          <tr ng-repeat="x in productsWeekly">
            <td>
              <div class="item">{{x}} </div>
            </td>
            <td>
              <button ng-click="removeItem($index, 'w')" class="btn btn-xs btn-primary"> Х </button>
              <button ng-click="moveItem($index, 'w','s')" class="btn btn-xs btn-primary"> > </button>
            </td>
          </tr>
        </table>
        <input ng-model="addMeWeekly">
        <button ng-click="addItem('w')" class="btn  btn-primary">Add</button>
    </div>
    <div class="col-sm-3 monthly" id="monthlyList">
      <h3>monthly:</h3>
        <table>
          <tr ng-repeat="x in productsMonthly">
            <td>
              <div class="item">{{x}} </div>
            </td>
            <td>
              <button ng-click="removeItem($index, 'm')" class="btn btn-xs btn-primary"> Х </button>
              <button ng-click="moveItem($index, 'm','s')" class="btn btn-xs btn-primary"> > </button>
            </td>
          </tr>
        </table>
        <input ng-model="addMeMonthly">
        <button ng-click="addItem('m')" class="btn  btn-primary">Add</button>
    </div>
    <div class="col-sm-3 irregular" id="irregularList">
      <h3>on occasion:</h3>
        <table>
          <tr ng-repeat="x in productsIrregular">
            <td>
              <div class="item">{{x}} </div>
            </td>
            <td>
              <button ng-click="removeItem($index, 'i')" class="btn btn-xs btn-primary"> Х </button>
              <button ng-click="moveItem($index, 'i','s')" class="btn btn-xs btn-primary"> > </button>
            </td>
          </tr>
        </table>
        <input ng-model="addMeIrregular">
        <button ng-click="addItem('i')" class="btn  btn-primary">Add</button>
    </div>
    <div class="footer">
      <div>{{errortext}}</div>
      <div id="errorTextMessage">Try to add the same item twice, and you will get an error message.</div>
      <button ng-click="goToStep2()" class="btn btn-primary goToStep2Btn">Go to step 2</button>
      <button ng-click="saveItems()" class="btn btn-primary saveItemsBtn">Save lists in storage</button>
    </div>
  </div> <!-- end app -->
</div>

<script>
  var storage = window.localStorage;
</script>

</body>
</html>