<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<script>
var app = angular.module("myShoppingList", []); 
app.controller("myCtrl", function($scope) {
    /*$scope.products2 = ["молоко", "сметана", "масло", "хліб", "сосиски", "твердий сир", "круасани", "йогурт", "печиво", "яблука", "банани","шаріки", "жуйки", "інші фрукти", "спагеті"];*/
    if (typeof(storage) !== "undefined") {
      $scope.products=JSON.parse(localStorage.getItem("items"));
    }

    $scope.addItem = function () {
        $scope.errortext = "";
        if (!$scope.addMe) {return;}        
        if ($scope.products.indexOf($scope.addMe) == -1) {
            $scope.products.push($scope.addMe);
        } else {
            $scope.errortext = "The item is already in your shopping list."; 
        }
    }
    $scope.removeItem = function (x) {
        $scope.errortext = "";    
        $scope.products.splice(x, 1);
    }
    $scope.saveItems = function() {
      if (typeof(storage) !== "undefined") {
        localStorage.setItem("items", JSON.stringify($scope.products));
      }
    }
});
</script>
<div class="container-fluid">
  <div ng-app="myShoppingList" ng-controller="myCtrl">
    <div>
      <h1>Items to buy:</h1>
        <ul>
          <li ng-repeat="x in products">{{x}} <button ng-click="removeItem($index)" class="btn btn-xs btn-primary"> Х </span></li>
        </ul>
    </div>
    <input ng-model="addMe">
    <button ng-click="addItem()" class="btn  btn-primary">Add</button>
    <p>{{errortext}}</p>
  <p>Try to add the same item twice, and you will get an error message.</p>
  <button ng-click="saveItems()" class="btn btn-primary">Save list in storage</button>
  </div>
</div>
<script>
  var storage = window.localStorage;
</script>

</body>
</html>
