nav{margin-top: 10px; margin-bottom: 10px;}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cff4ff;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #f6fb64;
}
.icon {display: inline; padding: 10px;}
h1 {display: inline-block; vertical-align: middle;}
#errorTextMessage {display: inline-block; width: 50%; height: 45px; vertical-align: middle;}
.saveItemsBtn {display: inline; float: right; margin-right: 10px;}
.footer {clear: both; padding-top: 20px; background-color: #cff4ff;}
#monthlyList tr:hover, #weeklyList tr:hover, #dailyList tr:hover {background-color: #cff4ff;}
#irregularList tr:hover, #buyNowList tr:hover, #buyLaterList tr:hover {background-color: #cff4ff;}
#monthlyList tr, #weeklyList tr, #dailyList tr, #irregularList tr {height: 25px;}
#buyNowList tr, #buyLaterList tr {height: 25px;}
.item {padding-right: 10px;}
h3 {color: #337ab7;}